.div-principal {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.contenedor-lista-clientes {
    width: 300px;
    height: 740px;
    margin: 0 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: #B17D47;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-de-la-lista {
    flex: 1;
    width: 100%;
    overflow-y: auto;
}

.contenedor-de-la-lista::-webkit-scrollbar {
    display: none;
}

.lista-clientes {
    padding: 0;
    width: 100%;
}

.cliente-item {
    background: #000000;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contenedor-formulario-cliente {
    width: 757px;
    height: 740px;
    margin: 0 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: #674B4B;
}

.fila-formulario {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.grupo-componentes {
    flex: 1;
    padding: 4px;
    min-width: 220px;
}

.cliente-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.cliente-table td {
    border: 1px solid #000000;
    padding: 8px;
}

.cliente-table th {
    border: 1px solid #000000;
    padding: 8px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: left;
}

input {
    padding: 8px;
    width: 230px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    padding: 8px;
    width: 230px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
    background-color: #81B850;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #65953a;
}